<%-include("partial/header") -%>
<div class="row result-bg">
    <div class="col-lg-6">
        <div class="result-bg-1">
            <h1 class="result-title">
                Your Carbon Impact Is <%= footprint %> Kg of CO<sub>2</sub>
            </h1>
            <h3 class="result-sh">
                Protecting <%= area %> acres of Tropical Forest can neutralise that amount of carbon dioxide.
            </h3>
        </div>
  
    </div>
    <div class="col-lg-6 ">
      <div class="result-bg-2">
          <h1 class="result-tit">Restore Your Planet</h1>
          <p class="result-par">Nature stands as our most powerful ally in the battle against climate change. However, we're witnessing the rapid loss of crucial ecosystems, sounding an urgent call to action.

        To avert complete climate breakdown, we must act swiftly to halt the degradation and deforestation of habitats and commit to restoring nature. The planet teeters on the brink, and your help is vital.
        
        By neutralizing your footprint, you directly shield forests worldwide—a pivotal step in our fight against climate change.</p>
      </div>
    </div>
</div>
<div class="row compare">
    <h1 class="result-title" style="color: black; text-align: center; text-shadow: 2px 2px rgb(177, 172, 172); padding-bottom: 1%;"> How Do You Compare?</h1>
    <p style="text-align: center; font-weight: 300; font-family: 'roboto'; padding-bottom: 3%;">Here is your monthly carbon footprint</p>
    <div class="col-lg-6 ">
        <div class="chart" style="width: 60%;">
            <canvas id="myChart"></canvas>
         </div>
    </div>
    <div class="col-lg-6 world-col" style="margin: 0%;">
        <div class="row">
            <div class="col-lg-6">
                <img src="/images/india.png" alt="" style="width: 80%;">
                <p class="india-para"><%= indiaResultSub %></p>
            </div>
            <div class="col-lg-6">
                <img src="/images/world.png" alt="" style="width: 80%;">
                <p class="world-para">World Average Emission is 1567 Kg Of CO<sub>2</sub> </p>
            </div>

        </div>
    </div>
</div>
<div class="suggest">
  <h1 style="text-align: center; font-family: poppins; padding-top: 2%;">Tips to Decrease Your Carbon Footprint</h1>
  <div class="row">
    <div class="col-lg-4 suggestions-col">
      <img class="suggestions-image" src="images/no-meat.png">
      <div class="suggestions-text">
        <h3>Institute meatless Mondays</h3>
        <p>For every day of the week where you eliminate red meat</p>
        <p><strong>33 kgs of CO<sub>2</sub> saved monthly</strong></p>
      </div>
    </div>
    <div class="col-lg-4 suggestions-col">
      <img class="suggestions-image" src="images/clothes-hanger.png">
      <div class="suggestions-text">
        <h3>Purchase consignment clothing</h3>
        <p>For buying second-hand or consignment for one out of every two clothing purchases:</p>
        <p><strong>42 kgs of CO<sub>2</sub> saved monthly</strong></p>
      </div>
    </div>
    <div class="col-lg-4 suggestions-col">
      <img class="suggestions-image" src="images/car-sharing.png">
      <div class="suggestions-text">
        <h3>Carpool Wednesday Wheels</h3>
        <p>By carpooling with just one other person on Wednesdays</p>
        <p><strong>108 kgs of CO<sub>2</sub> saved monthly</strong></p>
      </div>
    </div>
    <div class="col-lg-4 suggestions-col">
      <img class="suggestions-image" src="images/mail-inbox.png">
      <div class="suggestions-text">
        <h3>Clean your inbox</h3>
        <p>Delete your archived emails and unsubscribe from junk email:</p>
        <p><strong> 6 kgs of CO<sub>2</sub> saved monthly</strong></p>
      </div>
    </div>
    <div class="col-lg-4 suggestions-col">
      <img class="suggestions-image" src="images/fuel.png">
      <div class="suggestions-text">
        <h3>Improve your fuel economy</h3>
        <p>For every 5 km/L you improve the fuel economy of your car:</p>
        <p><strong>75 kgs of CO<sub>2</sub> saved monthly</strong></p>
      </div>
    </div>
    <div class="col-lg-4 suggestions-col">
      <img class="suggestions-image" src="images/tire-inflation.png">
      <div class="suggestions-text">
        <h3>Keep inflated</h3>
        <p>By keeping your car tires properly inflated:</p>
        <p><strong>33 kgs of CO<sub>2</sub> saved monthly</strong></p>
      </div>
    </div>
  </div>


<div class="d-grid gap-2 d-md-block bottom-results"  style="text-align: center; padding-bottom:3%">
    <a href="/offset" style="margin-right: 5%;"><button id="button" class="btn btn-primary" type="button" value= <%= percentages %> >Offset My FootPrint</button></a>
    <a href="/"><button class="btn btn-primary" type="button">Go To Home</button></a>
  </div>
</div>


  
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
  <script>
    const ctx = document.getElementById('myChart');
    data1= document.getElementById("button").value;
     console.log(data1.length)
    console.log(data1[1])
    data2=[];
    var string=''
    for( i=0;i<data1.length;i++)
    {
      
      if(data1[i]==',')
      {
        data2.push(parseFloat(string));
        string='';
      }
      else
      string =string+data1[i]

    }
    data2.push(parseFloat(string))
    console.log(data2);
    new Chart(ctx, {
      type: "doughnut",
      data: {
        labels: ['Electricity', 'Gas', 'Travel', 'Food',],
        datasets: [{
          label: '# of Votes',
          data: data2,
          borderWidth: 1
          
        }]
      },
      });
  </script>
  
<%-include("partial/footer") -%>
<!-- <div class="chart">
     <canvas id="myChart"></canvas>
  </div> -->