<%- include("partial/header") -%>
<div  style="background-image: url('/images/result-bg.png'); background-repeat: no-repeat; background-size: cover;">
<h1 class="heading-result"><span >Go Solar,</span><span >Save Big</span></h1>
<h2 class="heading-sub" style="margin-bottom: 0;">See How Solar Saves You Money!"
</h2>
</div>
<div >
<div class="row s">
    <div class="col-lg-6" style="padding: 5%; ">
      <div class="engulf">
        <h1 class="h1r ">
          
          <div style="padding-left: 40%; padding-top: 5%;"><img src="/images/piggy-bank.png" style="width: 35%;" alt=""></div>
            Slash Your Bills by Up To <span id="myNumber"><%= Percentage %> </span>%
        </h1>
    </div>
  </div>
    <div class="col-lg-6">
        <div class="chart"><canvas id="myChart" ></canvas></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="chart1"><canvas id="myChart1" ></canvas></div>
    </div>
    <div class="col-lg-6 " style="padding: 3%;">
      <div class="engulf1">
        <div style="padding-left: 40%; padding-top: 5%;"><img src="/images/earning.png" style="width: 35%;" alt=""></div>
        <h1 class="h2r">
          Grow your investment in <span id="myNum"><%= Years %> </span>years!
        </h1>
      </div>
    </div>
</div>
<div class="saving-bg "> 
  <h1 class="h11">Be Kind to Earth, Kind to Your Budget.</h1>
  <div style="text-align: center; padding-bottom: 5%;"> <a href="/installation"><button  type="button" class="btn btn-warning btn-lg btn-block"  >Get Your Solar Quote Now!</button></a></div>
</div>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const percentage = <%= Percentage %> ;
    const originalCost = 100;
    console.log("Percentage:", <%= Percentage %>);

    const newCost = 100 - percentage;

    const ctx = document.getElementById('myChart').getContext('2d');


    const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Original Cost', 'New Cost'],
            datasets: [{
                label: 'Cost Comparison',
                data: [originalCost, newCost],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.5)', 
                    'rgba(88, 220, 0,0.5)' 
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',  
                    'rgba(88, 220, 0,1)'   
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });


    function generateChartData(years) {

  const numBars = years;
  const percentageIncrement = 100 / numBars;

  const labels = [];
  const data = [];
  for (let i = 1; i <= numBars; i++) {
    labels.push(`Year ${i}`);
    data.push(percentageIncrement * i);
  }

  return {
    labels,
    datasets: [{
      label: 'Percentage Replenished',
      backgroundColor: 'rgba(71, 173, 255,0.5)', 
      borderColor: 'rgba(71, 173, 255,1)', 
      borderWidth: 1,
      data,
    }]
  };
}


const chartData = generateChartData(<%=Years%>);

const ctx1 = document.getElementById('myChart1').getContext('2d');
const myChart1 = new Chart(ctx1, {
  type: 'bar',
  data: chartData,
  options: {
    scales: {
      yAxes: [{
        ticks: {
          beginAtZero: true,
          max: 100,
        }
      }]
    }
  }
});
    const targetNumber = <%=Percentage%>; 
const element = document.getElementById("myNumber");
let currentNumber = 0;

const intervalId = setInterval(() => {
  if (currentNumber === targetNumber) {
    clearInterval(intervalId);
  } else {
    currentNumber++;
    element.textContent = currentNumber;
  }
}, 50);
</script>

<%- include("partial/footer") -%>
